@font-face {
    font-family: 'Mulish';
    font-weight: 400;
    src: url('./fonts/Mulish/static/Mulish-Regular.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: 400;
    src: url('./fonts/Cormorant/Cormorant-Bold.ttf');
}